<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/trailer','create']" class="create">New Trailer</a></li>
    </ul>
</div>
<div id="list-trailer" class="content scaffold-list" role="main">
    <h1>Trailer List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Owner</th>
      <th>Updated By</th>
      <th>Length</th>
      <th>Description</th>
      <th>Type</th>
      <th>Last Updated</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let trailer of trailerList; let e = even;">
      <td>
        <a [routerLink]="['/trailer','show',trailer.id]">{{trailer.id}}</a>
      </td>
      <td>
        <a *ngIf="trailer.owner" [routerLink]="['/trailer','show', trailer.owner.id]">{{trailer.owner.toString()}}</a>
      </td>
      <td>
        <span>{{trailer.updatedBy}}</span>
      </td>
      <td>
        <span>{{trailer.length}}</span>
      </td>
      <td>
        <span>{{trailer.description}}</span>
      </td>
      <td>
        <span>{{trailer.type}}</span>
      </td>
      <td>
        <span>{{trailer.lastUpdated | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
      </td>
    </tr>
  </tbody>
</table>
</div>