<h3 class="text-center"><span>{{create ? "Create" : "Edit"}} Address</span></h3>
<hr>

<div id="persist-address" class="content scaffold-edit row" role="main">

	<ul class="errors" role="alert" *ngIf="errors">
		<li *ngFor="let error of errors">{{error.message}}</li>
	</ul>

	<form name="saveAddressDialog" #addressCreateForm="ngForm" novalidate>
		<fieldset class="form">
			<table cellspacing="0">
				<tr>
					<td class="example-form">
						<md-input-container class="example-full-width">
							<input required="" name="address1" id="address1" mdInput placeholder="Address" [(ngModel)]="address.address1">
						</md-input-container>
					</td>
				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input name="address2" id="address2" mdInput placeholder="Address 2" [(ngModel)]="address.address2">
						</md-input-container>
					</td>
				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input required="" name="city" id="city" mdInput placeholder="City" [(ngModel)]="address.city">
						</md-input-container>
					</td>

				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width" *ngIf="address.country!='US'">
							<input required="" name="state" id="state" mdInput placeholder="State" [(ngModel)]="address.state">
						</md-input-container>

						<md-select required="" placeholder="Select State" [(ngModel)]="address.state" name="state" id="state" *ngIf="address.country=='US'"
							class="select-option-w">
							<md-option *ngFor="let state of stateList" [value]="state.abbreviation">
								{{state.name}}
							</md-option>
							</md-select>

					</td>

				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input required="" name="zipCode" id="zipCode" mdInput #zipCode maxlength="5" placeholder="Zip Code" [(ngModel)]="address.zipCode">
							<md-hint align="end">{{zipCode.value.length}} / 5</md-hint>
						</md-input-container>
					</td>
				</tr>
				<tr>
					<td>
						<md-select placeholder="Select Country" [(ngModel)]="address.country" name="country" id="country" class="example-full-width"
							floatPlaceholder="never" (ngModelChange)="countryUpdated()">
							<md-option *ngFor="let country of countries" [value]="country.code">
								{{country.description}}
							</md-option>
							</md-select>
					</td>
				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input name="description" id="description" mdInput placeholder="Description" [(ngModel)]="address.description">
						</md-input-container>
					</td>
				</tr>
			</table>

		</fieldset>
		<hr>
		<fieldset class="buttons">
			<button md-raised-button class="btn btn-primary" (click)="saveAddress()" [value]="create ? 'Save' : 'Update'" [disabled]="!addressCreateForm.valid || !addressCreateForm.dirty">{{create ? "Add" : "Update"}}  Address</button>
			<button md-raised-button class="btn btn-danger" (click)="dialogRef.close()">Close</button>
		</fieldset>
	</form>
</div>
