<md-progress-spinner class="spinner-position" mode="indeterminate" *ngIf="isLoading">
</md-progress-spinner>

<md-card class="example-card" *ngIf="!isLoading">
	<div class="card-block">
		<h5 class="card-title">
			<md-icon *ngIf="address.type === 'H'">home</md-icon>
			<md-icon *ngIf="address.type === 'W'">work</md-icon>{{address.type === 'H' ? "Home" : "Work"}} Address Information</h5>
	</div>

	<ul class="list-group list-group-flush ">
		<li class="list-group-item row">
			<span class="col font-weight-bold">
              Address
            </span>
			<span class="col">
              {{address.address1}}
            </span>
		</li>
		<li class="list-group-item row">
			<span class="col font-weight-bold">
              Address 2
            </span>
			<span class="col">
              {{address.address2}}
            </span>
		</li>
		<li class="list-group-item row">
			<span class="col font-weight-bold">
              City
            </span>
			<span class="col">
              {{address.city}}
            </span>
		</li>
		<li class="list-group-item row">
			<span class="col font-weight-bold">
              State
            </span>
			<span class="col">
              {{address.state}}
            </span></li>
		<li class="list-group-item row">
			<span class="col font-weight-bold">
              Zip Code
            </span>
			<span class="col">
              {{address.zipCode}}
            </span></li>
		<li class="list-group-item row">
			<span class="col font-weight-bold"> 
              Country
            </span>
			<span class="col">
              {{address.country}}
            </span></li>
	</ul>

	<md-card-actions class="text-right">
		<button md-raised-button class="btn btn-primary" (click)="editAddress(address.id)">Edit</button>
	</md-card-actions>

</md-card>
