<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/address','create']" class="create">New Address</a></li>
    </ul>
</div>
<div id="list-address" class="content scaffold-list" role="main">
    <h1>Address List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Address2</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>User Id</th>
      <th>Zip Code</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let address of addressList; let e = even;">
      <td>
        <a [routerLink]="['/address','show',address.id]">{{address.id}}</a>
      </td>
      <td>
        <span>{{address.address2}}</span>
      </td>
      <td>
        <span>{{address.latitude}}</span>
      </td>
      <td>
        <span>{{address.longitude}}</span>
      </td>
      <td>
        <span>{{address.userId}}</span>
      </td>
      <td>
        <span>{{address.zipCode}}</span>
      </td>
      <td>
        <span>{{address.country}}</span>
      </td>
    </tr>
  </tbody>
</table>
</div>