<h3 class="text-center"><span>{{create ? "Add" : "Edit"}} Truck</span></h3>
<hr>
<div id="persist-truck">
	<ul class="errors" role="alert" *ngIf="errors">
		<li *ngFor="let error of errors">{{error.message}}</li>
	</ul>

	<form name="saveTruckDialog" #truckDialogCreateForm="ngForm" novalidate>
		<fieldset class="form-width">
			<div class="row">
				<div class="col">
					<tr>
						<td>
							<md-input-container class="form-full-width">
								<input required="" name="licenseNumber" id="licenseNumber" [(ngModel)]="truck.licenseNumber" type="text" mdInput placeholder="Truck License Plate Number"
									#licenseNumber="ngModel" />
								<md-error *ngIf="licenseNumber.hasError('required')">This field is required</md-error>
								<md-hint align="end" *ngIf="create">Plate Number</md-hint>
							</md-input-container>
						</td>
					</tr>
				</div>
				<div class="col">
					<tr>
						<td>
							<md-input-container class="form-full-width">
								<input required="" name="truckId" id="truckId" [(ngModel)]="truck.truckId" type="text" mdInput placeholder="Truck Id" #truckId="ngModel"
								/>
								<md-error *ngIf="truckId.hasError('required')">This field is required</md-error>
								<md-hint align="end" *ngIf="create">Can be replace with your existing truck id</md-hint>
							</md-input-container>
						</td>
					</tr>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<tr>
						<td>
							<md-input-container class="form-full-width">
								<input required="" name="vinNumber" id="vinNumber" [(ngModel)]="truck.vinNumber" type="text" mdInput placeholder="Truck Vin Number"
									#vinNumber="ngModel" />
								<md-error *ngIf="vinNumber.hasError('required')">This field is required</md-error>
							</md-input-container>
						</td>
					</tr>

				</div>
				<div class="col">

					<tr>
						<td>
							<md-input-container class="form-full-width">
								<input required="" name="axles" id="axles" [(ngModel)]="truck.axles" type="text" mdInput placeholder="Truck Axles" #axles="ngModel"
								/>
								<md-error *ngIf="axles.hasError('required')">This field is required</md-error>
							</md-input-container>
						</td>
					</tr>

				</div>
			</div>

			<div class="row">
				<div class="col select-adj">
					<tr>
						<td>

							<md-select required="" name="classType" id="classType" [(ngModel)]="truck.classType" placeholder="Truck Class Type" floatPlaceholder="never"
								class="form-full-width">
								<md-option *ngFor="let claz of classTypes" [value]="claz">
									{{claz}}
								</md-option>
								</md-select>

						</td>
					</tr>
				</div>
				<div class="col select-adj">
					<tr>
						<td>
							<md-select required="" name="permitType" id="permitType" [(ngModel)]="truck.permitType" placeholder="Truck Permit Type" floatPlaceholder="never"
								class="form-full-width">
								<md-option *ngFor="let permit of permitTypes" [value]="permit">
									{{permit}}
								</md-option>
								</md-select>
						</td>
					</tr>
				</div>
			</div>

			<div class="row">
				<div class="col select-adj">

					<tr>
						<td>
							<md-select required="" name="truckType" id="truckType" [(ngModel)]="truck.truckType" type="text" placeholder="Truck Type"
								floatPlaceholder="never" class="form-full-width">
								<md-option *ngFor="let tType of truckTypes" [value]="tType">
									{{tType}}
								</md-option>
								</md-select>

						</td>
					</tr>


				</div>
				<div class="col select-adj">

					<tr>
						<td>

							<md-select required="" name="fuelType" id="fuelType" [(ngModel)]="truck.fuelType" placeholder="Truck Fuel Type" floatPlaceholder="never"
								class="form-full-width">
								<md-option *ngFor="let fuel of fuelTypes" [value]="fuel">
									{{fuel}}
								</md-option>
								</md-select>
						</td>
					</tr>
				</div>
			</div>


			<div class="row">
				<div class="col select-adj">
					<tr>
						<td>

							<md-select required="" name="owner" id="owner" [(ngModel)]="truck.owner" placeholder="Truck Owner" floatPlaceholder="never"
								class="form-full-width">
								<md-option *ngFor="let usr of userList" [value]="usr.id">
									{{usr.firstName}}
								</md-option>
								</md-select>
						</td>
					</tr>

				</div>
				<div class="col select-adj">
					<tr>
						<td>
							<md-select required="" name="permanentAddress" id="permanentAddress" [(ngModel)]="truck.permanentAddress" placeholder="Truck Garage Address"
								floatPlaceholder="never" class="form-full-width">
								<md-option *ngFor="let add of addressList" [value]="add.id">
									{{add?.address1}} - {{add?.state}}
								</md-option>
								</md-select>
						</td>
					</tr>
				</div>
			</div>

			<div class="row">
				<div class="col">


					<tr>
						<td>
							<md-input-container class="form-full-width">
								<input required="" name="gvwr" id="gvwr" [(ngModel)]="truck.gvwr" type="text" mdInput placeholder="Truck GVWR" #gvwr="ngModel"
								/>
								<md-error *ngIf="gvwr.hasError('required')">This field is required</md-error>
							</md-input-container>
						</td>
					</tr>



				</div>
				<div class="col">

				</div>
			</div>


			<div class="row">
				<div class="col">

					<tr>
						<td>
							<md-input-container class="form-full-width">
								<input name="gallonsCapacity" id="gallonsCapacity" [(ngModel)]="truck.gallonsCapacity" type="text" mdInput placeholder="Truck Capacity in Gallons"
									#gallonsCapacity="ngModel" />
							</md-input-container>
						</td>
					</tr>
				</div>
				<div class="col">
					<tr>
						<td>
							<md-input-container class="form-full-width">
								<input name="pullingCapacity" id="pullingCapacity" [(ngModel)]="truck.pullingCapacity" type="text" mdInput placeholder="Truck Pulling Capacity"
									#pullingCapacity="ngModel" />
							</md-input-container>
						</td>
					</tr>
				</div>
			</div>


			<div class="row">
				<div class="col">

				</div>
				<div class="col">
					<tr>
						<td>
							<md-input-container class="form-full-width">
								<input name="unladenWeight" id="unladenWeight" [(ngModel)]="truck.unladenWeight" type="text" mdInput placeholder="Truck Unladen Weight"
									#unladenWeight="ngModel" />
							</md-input-container>
						</td>
					</tr>
				</div>
			</div>








			<tr>
				<td class="d-flex justify-content-end">
					<md-slide-toggle (change)="isMoreDetailRequired()">Add More Details</md-slide-toggle>
				</td>
			</tr>

			<div *ngIf="isMoreDetails">


				<div class="row">
					<div class="col">
						<tr>
							<td>
								<md-input-container class="form-full-width">
									<input [mdDatepicker]="permitExpirationPicker" name="permitExpirationDate" id="permitExpirationDate" [(ngModel)]="truck.permitExpirationDate"
										type="text" mdInput placeholder="Truck Expiration Date" #permitExpirationDate="ngModel" />
									<button mdSuffix [mdDatepickerToggle]="permitExpirationPicker"></button>
								</md-input-container>
								<md-datepicker #permitExpirationPicker [touchUi]="true"></md-datepicker>
							</td>
						</tr>


					</div>
					<div class="col">
						<tr>
							<td>
								<md-input-container class="form-full-width">
									<input [mdDatepicker]="inspectionExpirationPicker" name="inspectionExpirationDate" id="inspectionExpirationDate" [(ngModel)]="truck.inspectionExpirationDate"
										type="text" mdInput placeholder="Truck Inspection Expiration Date" #inspectionExpirationPicker="ngModel" />
									<button mdSuffix [mdDatepickerToggle]="inspectionExpirationPicker"></button>
								</md-input-container>
								<md-datepicker #inspectionExpirationPicker [touchUi]="true"></md-datepicker>
							</td>
						</tr>

					</div>
				</div>

				<div class="row">
					<div class="col select-adj">

						<tr>
							<td>

								<md-select name="insuranceType" id="insuranceType" [(ngModel)]="truck.insuranceType" placeholder="Truck Insurance Type" floatPlaceholder="never"
									class="form-full-width">
									<md-option *ngFor="let ins of insuranceTypes" [value]="ins">
										{{ins}}
									</md-option>
									</md-select>

							</td>
						</tr>

					</div>
					<div class="col select-adj">

						<tr>
							<td>

								<md-select name="inspectionType" id="inspectionType" [(ngModel)]="truck.inspectionType" placeholder="Truck Inspection Type"
									floatPlaceholder="never" class="form-full-width">
									<md-option *ngFor="let insp of inspectionTypes" [value]="insp">
										{{insp}}
									</md-option>
									</md-select>
							</td>
						</tr>
					</div>
				</div>



				<div class="row">
					<div class="col">
						<tr>
							<td>
								<md-input-container class="form-full-width">
									<input name="seatingCpacity" id="seatingCpacity" [(ngModel)]="truck.seatingCpacity" type="text" mdInput placeholder="Truck Seating Capacity"
										#seatingCpacity="ngModel" />
								</md-input-container>
							</td>
						</tr>
					</div>
					<div class="col">
					</div>
				</div>




				<div class="row">

					<div class="col">
						<tr>
							<td>
								<md-input-container class="form-full-width">
									<input name="currentMileage" id="currentMileage" [(ngModel)]="truck.currentMileage" type="text" mdInput placeholder="Current Mileage"
										#currentMileage="ngModel" />
								</md-input-container>
							</td>
						</tr>
					</div>
					<div class="col">
						<tr>
							<td>
								<md-input-container class="form-full-width">
									<input name="numberOfWheels" id="numberOfWheels" [(ngModel)]="truck.numberOfWheels" type="text" mdInput placeholder="Truck Number Of Wheels"
										#numberOfWheels="ngModel" />
								</md-input-container>
							</td>
						</tr>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<tr>
							<td>
								<md-input-container class="form-full-width">
									<input name="color" id="color" [(ngModel)]="truck.color" type="text" mdInput placeholder="Truck Color" #color="ngModel" />
								</md-input-container>
							</td>
						</tr>


					</div>
					<div class="col">
						<tr>
							<td>
								<md-input-container class="form-full-width">
									<input name="description" id="description" [(ngModel)]="truck.description" type="text" mdInput placeholder="Truck Description"
									/>
								</md-input-container>
							</td>
						</tr>

					</div>
				</div>



			</div>

		</fieldset>
		<fieldset class="buttons button-pos">
			<button md-raised-button class="btn btn-primary" (click)="saveTruck()" [value]="create ? 'Save' : 'Update'" [disabled]="!truckDialogCreateForm.valid || !truckDialogCreateForm.dirty">{{create ? "Add" : "Update"}}  Truck</button>
			<button md-raised-button class="btn btn-danger" (click)="dialogRef.close()">Close</button>

		</fieldset>
	</form>
</div>
