<app-page-header [heading]="'Truck Management'" [icon]="'fa-user'"></app-page-header>

<md-progress-spinner class="spinner-position" mode="indeterminate" *ngIf="isLoading">
</md-progress-spinner>


<div id="list-truck" class="content scaffold-list" role="main">

	<ul class="errors list-group" role="alert" *ngIf="errors">
		<li *ngFor="let error of errors" class="list-group-item list-group-item-danger">{{error.message}}</li>
	</ul>


	<div [hidden]="isLoading">

		<md-toolbar color="accent">
			<span>User List</span>
			<span class="example-spacer"></span>
			<button md-raised-button class="btn btn-primary" (click)="openAddClientUserDialog()">Add User</button>
		</md-toolbar>

		<md-card class="user-search-card datatable-card">
			<smd-datatable [models]="truckList" [paginated]="true" [paginatorRanges]="[10, 25, 50, 100]" [responsive]="true">

				<smd-datatable-header [enableFilter]="true" filterLabel="Filter" class="row">
					<smd-datatable-contextual-button (onClick)="editClientUser($event)" icon="edit" [minimunSelected]="1" [maxSelected]="1" mdTooltip="Edit the selected element"></smd-datatable-contextual-button>
					<smd-datatable-contextual-button (onClick)="removeClientUser($event)" icon="delete" [minimunSelected]="1" mdTooltip="Delete the element"></smd-datatable-contextual-button>
				</smd-datatable-header>

				<smd-datatable-column title="User Id" field="id" sortable="true" numeric="true" titleTooltip="User identifier"></smd-datatable-column>

			</smd-datatable>
		</md-card>


	</div>
</div>
