<md-progress-spinner class="spinner-position" mode="indeterminate" *ngIf="isLoading">
</md-progress-spinner>

<form name="saveItemDialog" #shipmentCreateForm="ngForm" novalidate>
	<fieldset class="form">

		<div id="list-shipment" class="content scaffold-list" role="main" [hidden]="isLoading">
			<ul class="errors list-group" role="alert" *ngIf="errors">
				<li *ngFor="let error of errors" class="list-group-item list-group-item-danger">{{error.message}}</li>
			</ul>

			<!-- Page Content -->

			<div class="card text-center">
				<div class="card-header">
					<h4 class="card-title">Shipment - {{shipment.shipmentId}}</h4>
				</div>

				<div class="card-group">
					<div class="card">
						<div class="card-block">
							<span *ngIf="!shipment.id">
							<md-select required="" name="client" id="client" [(ngModel)]="clientName" placeholder="Select Client" floatPlaceholder="never"
							class="form-full-width">
							<md-option *ngFor="let clt of clientList" [value]="clt.id">
								{{clt.name}}
							</md-option>
							</md-select>
							<hr>
						<button md-raised-button class="btn btn-primary" routerLink="/clients" skipLocationChange>Add Client</button>
							</span>
							<span *ngIf="shipment.id">
								{{clientName}}
							</span>
						</div>
					</div>
					<div class="card">
						<div class="card-block">

							<md-select required name="shipmentType" id="shipmentType" [(ngModel)]="shipmentType" placeholder="Select Shipment Type" floatPlaceholder="never"
								class="form-full-width">
								<md-option *ngFor="let ins of shipmentTypes" [value]="ins">
									{{ins}}
								</md-option>
								</md-select>
						</div>
					</div>
					<div class="card">
						<div class="card-block">
							<textarea style="resize: none;" class="form-control" id="shipDesc" name="shipDesc" placeholder="Please Enter Shipment Description"
								rows="3" cols="3" [(ngModel)]="shipment.description"></textarea>
						</div>
					</div>
				</div>


			</div>
			<!-- Page Content -->

		</div>
	</fieldset>

	<fieldset class="buttons button-pos" *ngIf="clientName">
		<hr>
		<button md-raised-button [hidden]="!shipment.type" class="btn btn-primary" (click)="saveShipment()" [disabled]="!shipmentCreateForm.valid || !shipmentCreateForm.dirty">{{!shipment?.id ? "Create" : "Update"}} Shipment</button>
	</fieldset>
</form>
