<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a class="list" [routerLink]="['/shipment', 'list']" class="list">Shipment List</a></li>
        <li><a class="create" [routerLink]="['/shipment', 'create']" class="create">New Shipment</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">
    <h1>Show Shipment</h1>
    <ol class="property-list shipment">
  <li class="fieldcontain">
    <span id="description-label" class="property-label">Description</span>
    <div class="property-value" aria-labelledby="description-label">
      <span>{{shipment.description}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="lastUpdated-label" class="property-label">Last Updated</span>
    <div class="property-value" aria-labelledby="lastUpdated-label">
      <span>{{shipment.lastUpdated | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="dateCreated-label" class="property-label">Date Created</span>
    <div class="property-value" aria-labelledby="dateCreated-label">
      <span>{{shipment.dateCreated | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="updatedBy-label" class="property-label">Updated By</span>
    <div class="property-value" aria-labelledby="updatedBy-label">
      <span>{{shipment.updatedBy}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="createdBy-label" class="property-label">Created By</span>
    <div class="property-value" aria-labelledby="createdBy-label">
      <span>{{shipment.createdBy}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="status-label" class="property-label">Status</span>
    <div class="property-value" aria-labelledby="status-label">
      <span>{{shipment.status}}</span>
    </div>
  </li>
</ol>

    <a class="edit" [routerLink]="['/shipment', 'edit', shipment.id]">Edit</a>
    <button type="button" (click)="destroy()">Delete</button>

</div>