md-grid-tile {
  background: lightblue;
}

.example-card {
  width: 100%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  background-size: cover;
}
.mat-card-image { 
    height: 70px !important; 
}