.example-fill-remaining-space { 
  flex: 0 0 calc(200% / 3); 
}

html, body, material-app, md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.example-container {
  margin: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.grails-icon img {
    height: 27px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

md-checkbox.md-checked .md-icon:after, md-checkbox.md-indeterminate .md-icon:after {
    display: inline-block; 
}
.page-content{
    
    padding: 25px 10px 15px 2px;
    max-width: 1390px;
    margin: 0 auto;

}

.example-icon {
  margin-right: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
    min-width: 8px !important;
}