<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a class="list" [routerLink]="['/package', 'list']" class="list">Package List</a></li>
        <li><a class="create" [routerLink]="['/package', 'create']" class="create">New Package</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">
    <h1>Show Package</h1>
    <ol class="property-list package">
  <li class="fieldcontain">
    <span id="description-label" class="property-label">Description</span>
    <div class="property-value" aria-labelledby="description-label">
      <span>{{package.description}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="isHazardous-label" class="property-label">Is Hazardous</span>
    <div class="property-value" aria-labelledby="isHazardous-label">
      <span>{{package.isHazardous}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="lastUpdated-label" class="property-label">Last Updated</span>
    <div class="property-value" aria-labelledby="lastUpdated-label">
      <span>{{package.lastUpdated | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="dateCreated-label" class="property-label">Date Created</span>
    <div class="property-value" aria-labelledby="dateCreated-label">
      <span>{{package.dateCreated | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="updatedBy-label" class="property-label">Updated By</span>
    <div class="property-value" aria-labelledby="updatedBy-label">
      <span>{{package.updatedBy}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="createdBy-label" class="property-label">Created By</span>
    <div class="property-value" aria-labelledby="createdBy-label">
      <span>{{package.createdBy}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="isStackable-label" class="property-label">Is Stackable</span>
    <div class="property-value" aria-labelledby="isStackable-label">
      <span>{{package.isStackable}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="type-label" class="property-label">Type</span>
    <div class="property-value" aria-labelledby="type-label">
      <span>{{package.type}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="items-label" class="property-label">Items</span>
    <div class="property-value" aria-labelledby="items-label">
      <ul>
        <li *ngFor="let item of package.items">
          <a [routerLink]="['/item', 'show', item.id]">{{item.toString()}}</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="goodsType-label" class="property-label">Goods Type</span>
    <div class="property-value" aria-labelledby="goodsType-label">
      <span>{{package.goodsType}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="status-label" class="property-label">Status</span>
    <div class="property-value" aria-labelledby="status-label">
      <span>{{package.status}}</span>
    </div>
  </li>
</ol>

    <a class="edit" [routerLink]="['/package', 'edit', package.id]">Edit</a>
    <button type="button" (click)="destroy()">Delete</button>

</div>