<p>
	Company Registration
</p>
<p>
	Payment Information cerdit card, recurring, monthly, yearley, one time setup</p>
<p> Subscription usage fees, per trip, per truck, pay-as-you go, Setup Fee</p>

<app-page-header [heading]="'Profile'" [icon]="'fa-user'"></app-page-header>

<md-progress-spinner class="spinner-position" mode="indeterminate" *ngIf="isLoading">
</md-progress-spinner>


<div *ngIf="!isLoading">
	<div class="row">
		<div class="col-sm">
			<company-card [companyId]="company.id" *ngIf="company"></company-card>
			<div *ngIf="!company">
				<div class="card text-center">
					<div class="card-block">
						<h4 class="card-title">Add Company</h4>
						<p class="card-text">Please add your company</p>
						<button md-raised-button class="btn btn-primary" (click)="openAddCompanyDialog()">Add Company</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm">
			<div class="card text-center">
				<div class="card-block" *ngIf="company">
					<h4 class="card-title">Add Registered Agent</h4>
					<p class="card-text">Please add your company's agent</p>
					<button md-raised-button class="btn btn-primary" routerLink="/userSearch">Add Registered User</button>
				</div>
				<div class="card-block" *ngIf="!company">
					<h4 class="card-title">Add Registered Agent</h4>
					<p class="card-text">Please add your company's agent, after creating company</p>
				</div>
			</div>
		</div>

		<div class="col-sm">
			<div class="card text-center">
				<div class="card-block" *ngIf="company">
					<h4 class="card-title">Add Clients</h4>
					<p class="card-text">Please add your company's client</p>
					<!-- <button md-raised-button class="btn btn-primary" routerLink="/datatable">Add Clients</button> -->
					<button md-raised-button class="btn btn-primary" routerLink="/clients">Add Clients</button>
				</div>
				<div class="card-block" *ngIf="!company">
					<h4 class="card-title">Add Client</h4>
					<p class="card-text">Please add your company's client, after creating company</p>
				</div>
			</div>
		</div>
	</div><br>
</div>
<button md-raised-button class="btn btn-primary" routerLink="/userSearch/list">Add Registered User</button>
<hr>

<div *ngIf="!isLoading">
	<div class="row">
		<div class="col-sm">
			<div class="card text-center">
				<div class="card-block" *ngIf="company">
					<h4 class="card-title">Truck Management</h4>
					<p class="card-text">Please manage truck fleet</p>
					<button md-raised-button class="btn btn-primary" routerLink="/truck">Manage Trucks</button>
				</div>
				<div class="card-block" *ngIf="!company">
					<h4 class="card-title">Truck Management</h4>
					<p class="card-text">Please manage truck after creating company</p>
				</div>
			</div>
		</div>
	</div>
</div>
