<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/truck','create']" class="create">New Truck</a></li>
    </ul>
</div>
<div id="list-truck" class="content scaffold-list" role="main">
    <h1>Truck List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Truck Id</th>
      <th>Owner</th>
      <th>Current Mileage</th>
      <th>Permit Expiration Date</th>
      <th>Updated By</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let truck of truckList; let e = even;">
      <td>
        <a [routerLink]="['/truck','show',truck.id]">{{truck.id}}</a>
      </td>
      <td>
        <span>{{truck.truckId}}</span>
      </td>
      <td>
        <a *ngIf="truck.owner" [routerLink]="['/truck','show', truck.owner.id]">{{truck.owner.toString()}}</a>
      </td>
      <td>
        <span>{{truck.currentMileage}}</span>
      </td>
      <td>
        <span>{{truck.permitExpirationDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
      </td>
      <td>
        <span>{{truck.updatedBy}}</span>
      </td>
      <td>
        <span>{{truck.color}}</span>
      </td>
    </tr>
  </tbody>
</table>
</div>