<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/package','create']" class="create">New Package</a></li>
    </ul>
</div>
<div id="list-package" class="content scaffold-list" role="main">
    <h1>Package List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Is Hazardous</th>
      <th>Last Updated</th>
      <th>Date Created</th>
      <th>Updated By</th>
      <th>Created By</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let package of packageList; let e = even;">
      <td>
        <a [routerLink]="['/package','show',package.id]">{{package.id}}</a>
      </td>
      <td>
        <span>{{package.description}}</span>
      </td>
      <td>
        <span>{{package.isHazardous}}</span>
      </td>
      <td>
        <span>{{package.lastUpdated | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
      </td>
      <td>
        <span>{{package.dateCreated | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
      </td>
      <td>
        <span>{{package.updatedBy}}</span>
      </td>
      <td>
        <span>{{package.createdBy}}</span>
      </td>
    </tr>
  </tbody>
</table>
</div>