.header-align{
    text-align: center;
}

.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}

md-select#registeredState {
    width: 100%;
}

md-select#entityType {
    width: 100%;
}