<md-progress-spinner class="spinner-position" mode="indeterminate" *ngIf="isLoading">
</md-progress-spinner>

<md-card class="example-card" *ngIf="!isLoading">
	<div class="card-block">
		<h5 class="card-title">Company Information</h5>
	</div>

	<ul class="list-group list-group-flush ">
		<li class="list-group-item row">
			<span class="col font-weight-bold">
              Company Name
            </span>
			<span class="col">
              {{company.name}}
            </span>
		</li>
		<li class="list-group-item row">
			<span class="col font-weight-bold">
              EIN
            </span>
			<span class="col">
              {{company.ein}}
            </span>
		</li>
		<li class="list-group-item row">
			<span class="col font-weight-bold">
              Description
            </span>
			<span class="col">
              {{company.description}}
            </span>
		</li>
		<li class="list-group-item row">
			<span class="col font-weight-bold">
              Registered State Id
            </span>
			<span class="col">
              {{company.stateId}}
            </span></li>
		<li class="list-group-item row">
			<span class="col font-weight-bold">
              Entity Type
            </span>
			<span class="col">
              {{company.entityType}}
            </span></li>
		<li class="list-group-item row">
			<span class="col font-weight-bold"> 
              Registered State
            </span>
			<span class="col">
              {{company.registeredState}}
            </span></li>
	</ul>

	<md-card-actions class="text-right">
		<button md-raised-button class="btn btn-primary" (click)="editCompany(company.id)">Edit</button>
	</md-card-actions>

</md-card>
