<div class="container-fluid bg-image-1">
	<div class="row justify-content-center">
		<div class="col-sm-6 ">
			<div id="persist-register" class="content scaffold-edit " role="main">
				<h1 class="text-center">{{create ? "" : "Edit"}} Register</h1>
				<ul class="errors" role="alert" *ngIf="errors">
					<li *ngFor="let error of errors">{{error.message}}</li>
				</ul>
				<hr>

				<form name="saveRegistration" (ngSubmit)="save()" #registerCreateForm="ngForm" novalidate>
					<fieldset class="form">
						<div class="row">
							<div class="col">
								<md-input-container class="form-full-width ">
									<input required="" name="firstName" mdInput placeholder="First Name" [(ngModel)]="user.firstName" #firstName="ngModel" />
									<md-error *ngIf="firstName.hasError('required')">This field is required</md-error>
								</md-input-container>
							</div>
							<div class="col">
								<md-input-container class="form-full-width">
									<input required="" name="lastName" mdInput placeholder="Last Name" [(ngModel)]="user.lastName" #lastName="ngModel" />
									<md-error *ngIf="lastName.hasError('required')">This field is required</md-error>
								</md-input-container>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<md-input-container class="form-full-width select-adj">
									<input required="" name="email" mdInput placeholder="Email" [(ngModel)]="user.email" #email="ngModel" />
									<md-error *ngIf="email.hasError('required')">This field is required</md-error>
								</md-input-container>
							</div>
							<div class="col">
								<md-input-container class="form-full-width select-adj">
									<input required="" name="mobile" mdInput placeholder="Mobile" [(ngModel)]="user.mobile" #mobile="ngModel" pattern="[0-9]+"
										minlength="10" maxlength="10" />
									<md-error *ngIf="mobile.hasError('required')">This field is required</md-error>
									<md-error *ngIf="mobile.hasError('minlength')">Mobile Number should be 10 digits</md-error>
									<md-error *ngIf="mobile.hasError('pattern')">Mobile Number should be number</md-error>
								</md-input-container>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<md-radio-group required="" #gender="ngModel" class="ship-radio-group select-adj" [(ngModel)]="selectedGender" name="genderGroup">
									<md-radio-button class="ship-radio-button" *ngFor="let gen of genders" [value]="gen">
										{{gen}}
									</md-radio-button>
								</md-radio-group>
							</div>
							<div class="col">
								<md-input-container class="form-full-width select-adj">
									<input required="" name="password" mdInput placeholder="Password" [(ngModel)]="user.password" #password="ngModel" pattern="(?=.*\d)(?=.*[@#])(?=.*[a-z])(?=.*[A-Z]).{5,15}"
										type="password" minlength="5" maxlength="15" />
									<md-error *ngIf="password.hasError('required')">This field is required</md-error>
									<md-error *ngIf="password.hasError('minlength')">Password should be minimum 5 of length</md-error>
									<md-error *ngIf="password.hasError('pattern')">Password should be contains upper, lower, numbers and special character @# (eg: World@34)</md-error>
								</md-input-container>
							</div>
						</div>

					</fieldset>
					<fieldset class="buttons clearfix">
						<input type="submit" class="btn btn-primary float-right" [value]="create ? 'Register Me' : 'Update'" [disabled]="!registerCreateForm.valid"
						/>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
