 
.form-width {
  width: 750px;
}

.form-full-width {
  width: 325px;
}

md-error.mat-input-error {
    text-align: center;
}
 
 .spinner-position{
	    margin-left: 50%;
}

.example-spacer {
  flex: 1 1 auto;
} 

.button-pos{
    text-align: end;
}

.select-adj{
	margin-bottom: 10px;
	margin-top: 10px;
}
 
 
	.mat-radio-checked{
		background-color: bisque !important;
	} 

	.address-search-box{
    width: 420px;
	}