<app-page-header [heading]="pageHeading" [icon]="'fa-user'"></app-page-header>

<md-progress-spinner class="spinner-position" mode="indeterminate" *ngIf="isLoading">
</md-progress-spinner>

<div id="persist-client" class="content scaffold-edit" role="main" *ngIf="!isLoading">
	<ul class="errors list-group" role="alert" *ngIf="errors">
		<li *ngFor="let error of errors" class="list-group-item list-group-item-danger">{{error.message}}</li>
	</ul>

	<div class="row">
		<div class="col-sm">
			<div class="card text-center">
				<div class="card-block">
					<h4 class="card-title">Basic Information</h4>
					<hr>
					<form name="saveClient" #clientCreateForm="ngForm" novalidate>
						<table cellspacing="0">
							<tr>
								<td class="form-width">
									<md-input-container class="form-full-width">
										<input #clientName="ngModel" [minLength]="1" required="" name="name" id="name" mdInput placeholder="Client Name" [(ngModel)]="client.name"
											type="text" />
										<md-error *ngIf="clientName.hasError('required')">This field is required</md-error>
									</md-input-container>
								</td>
							</tr>
							<tr>
								<td class="form-width">
									<md-input-container class="form-full-width">
										<input #clientId="ngModel" required="" name="clientId" id="clientId" mdInput placeholder="Client ID" [(ngModel)]="client.clientId"
											type="text" [disabled]="!create" />
										<md-error *ngIf="clientId.hasError('required')">This field is required</md-error>
										<md-hint align="end" *ngIf="create">Can be replace with your existing client id</md-hint>
									</md-input-container>
								</td>
							</tr>
							<tr>
								<td class="form-width">
									<md-input-container class="form-full-width">
										<input #phoneNumber="ngModel" required="" name="phoneNumber" mdInput id="phoneNumber" [(ngModel)]="client.phoneNumber" placeholder="Phone Number"
											type="text" pattern="[0-9]{10}" />
										<md-error *ngIf="phoneNumber.hasError('required')">This field is required</md-error>
										<md-error *ngIf="phoneNumber.hasError('pattern')">Please enter numbers only</md-error>
									</md-input-container>
								</td>
							</tr>
							<tr>
								<td class="form-width">
									<md-input-container class="form-full-width">
										<input required="" name="email" id="email" mdInput placeholder="Client Email" [(ngModel)]="client.email" type="text" #userEmail="ngModel"
											pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" />
										<md-icon mdPrefix>email</md-icon>
										<md-icon mdSuffix>mode_edit</md-icon>
										<md-error *ngIf="userEmail.hasError('required')">
											This field is required
										</md-error>
										<md-error *ngIf="userEmail.hasError('pattern')">
											Please enter a valid email address
										</md-error>
									</md-input-container>
								</td>
							</tr>
						</table>
						<hr>
						<button md-raised-button class="btn btn-primary" (click)="save()" [value]="create ? 'Save' : 'Update'" [disabled]="!clientCreateForm.valid || !clientCreateForm.dirty">{{create ? "Add" : "Update"}} Client</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card text-center">
				<div class="card-block" *ngIf="!create">
					<h4 class="card-title">{{createUser ? "Add" : "Update"}} Point of Contact</h4>

					<form name="saveUserDialog" #userCreateForm="ngForm" novalidate>
						<fieldset class="form">
							<table cellspacing="0">
								<tr>
									<td class="form-width">
										<md-input-container class="form-full-width">
											<input required="" name="email" id="email" [(ngModel)]="user.email" type="text" mdInput placeholder="User Email" #userEmail="ngModel"
												pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" />
											<md-icon mdPrefix>email</md-icon>
											<md-icon mdSuffix>mode_edit</md-icon>
											<md-error *ngIf="userEmail.hasError('required')">
												This field is required
											</md-error>
											<md-error *ngIf="userEmail.hasError('pattern')">
												Please enter a valid email address
											</md-error>
										</md-input-container>
									</td>
									<!--{{ userEmail?.errors | json }}-->
								</tr>

								<tr>
									<td class="form-width">
										<md-input-container class="form-full-width">
											<input required="" name="firstName" id="firstName" [(ngModel)]="user.firstName" type="text" mdInput placeholder="First Name"
												pattern="[A-Za-z]{1,50}" #firstName="ngModel" />
											<md-error *ngIf="firstName.hasError('required')">This field is required</md-error>
											<md-error *ngIf="firstName.hasError('pattern')">Please enter characters only</md-error>
										</md-input-container>
									</td>
								</tr>
								<tr>
									<td class="form-width">
										<md-input-container class="form-full-width">
											<input name="middleName" id="middleName" [(ngModel)]="user.middleName" type="text" mdInput placeholder="Middle Name" pattern="[A-Za-z]{1,50}"
												#middleName="ngModel" />
											<md-error *ngIf="middleName.hasError('pattern')">Please enter characters only</md-error>
										</md-input-container>
									</td>
								</tr>
								<tr>
									<td class="form-width">
										<md-input-container class="form-full-width">
											<input required="" name="lastName" id="lastName" [(ngModel)]="user.lastName" type="text" mdInput placeholder="Last Name"
												pattern="[A-Za-z]{1,50}" #lastName="ngModel" />
											<md-error *ngIf="lastName.hasError('required')">This field is required</md-error>
											<md-error *ngIf="lastName.hasError('pattern')">Please enter characters only</md-error>
										</md-input-container>
									</td>
								</tr>

								<tr>
									<td class="form-width">
										<md-input-container class="form-full-width">
											<input required="" maxLength="10" name="mobile" id="mobile" [(ngModel)]="user.mobile" type="text" mdInput placeholder="Mobile Number"
												pattern="[0-9]{10}" />
											<md-error>This field is required</md-error>
										</md-input-container>
									</td>
								</tr>


							</table>

						</fieldset>
						<hr>
						<fieldset class="buttons">
							<button md-raised-button (click)="saveUser()" class="btn btn-primary" [value]="createUser ? 'Save' : 'Update'" [disabled]="!userCreateForm.valid || !userCreateForm.dirty">{{createUser ? "Add" : "Update"}} User</button>
						</fieldset>
					</form>
				</div>
				<div class="card-block" *ngIf="create">
					<h4 class="card-title">Add Point Of Contact</h4>
					<p class="card-text">Please add your client's point of contact, after creating client</p>
				</div>
			</div>
		</div>
		<div class="col-sm">

			<div class="card text-center">
				<div class="card-block" *ngIf="!create">
					<h4 class="card-title">{{createAddress ? "Add" : "Update"}} Registered Address</h4>

					<form name="saveAddressDialog" #addressCreateForm="ngForm" novalidate>
						<fieldset class="form">
							<table cellspacing="0">
								<tr>
									<td class="form-width">
										<md-input-container class="form-full-width">
											<input #add1="ngModel" required="" name="address1" id="address1" mdInput placeholder="Address" [(ngModel)]="address.address1">
											<md-error *ngIf="add1.hasError('required')">This field is required</md-error>
										</md-input-container>
									</td>
								</tr>
								<tr>
									<td>
										<md-input-container class="form-full-width">
											<input name="address2" id="address2" mdInput placeholder="Address 2" [(ngModel)]="address.address2">
										</md-input-container>
									</td>
								</tr>
								<tr>
									<td>
										<md-input-container class="form-full-width">
											<input #city="ngModel" required="" name="city" id="city" mdInput placeholder="City" [(ngModel)]="address.city">
											<md-error *ngIf="city.hasError('required')">This field is required</md-error>
										</md-input-container>
									</td>

								</tr>
								<tr>
									<td>
										<md-input-container class="form-full-width" *ngIf="address.country!='US'">
											<input #state="ngModel" required="" name="state" id="state" mdInput placeholder="State" [(ngModel)]="address.state">
											<md-error *ngIf="state.hasError('required')">This field is required</md-error>
										</md-input-container>

										<md-select class="form-full-width" required="" placeholder="Select State" [(ngModel)]="address.state" name="state" id="state"
											*ngIf="address.country=='US'" floatPlaceholder="never">
											<md-option *ngFor="let state of stateList" [value]="state.abbreviation">
												{{state.name}}
											</md-option>
											</md-select>

									</td>

								</tr>
								<tr>
									<td>
										<md-input-container class="form-full-width">
											<input #zip="ngModel" pattern="[0-9]{5}" required="" name="zipCode" id="zipCode" mdInput #zipCode maxlength="5" placeholder="Zip Code"
												[(ngModel)]="address.zipCode">
												<md-hint align="end">{{zipCode.value.length}} / 5</md-hint>
												<md-error *ngIf="zip.hasError('required')">This field is required</md-error>
												<md-error *ngIf="zip.hasError('pattern')">Please enter numbers only</md-error>
										</md-input-container>
									</td>
								</tr>
								<tr>
									<td>
										<md-select placeholder="Select Country" [(ngModel)]="address.country" name="country" id="country" class="form-full-width"
											floatPlaceholder="never" (ngModelChange)="countryUpdated()">
											<md-option *ngFor="let country of countries" [value]="country.code">
												{{country.description}}
											</md-option>
											</md-select>
									</td>
								</tr>
							</table>

						</fieldset>
						<hr>
						<fieldset class="buttons">
							<button md-raised-button class="btn btn-primary" (click)="saveAddress()" [value]="createAddress ? 'Save' : 'Update'" [disabled]="!addressCreateForm.valid || !addressCreateForm.dirty">Add Address</button>
						</fieldset>
					</form>
				</div>

				<div class="card-block" *ngIf="create">
					<h4 class="card-title">Add Registered Address</h4>
					<p class="card-text">Please add your client's registered address, after creating company</p>
				</div>

			</div>

		</div>
	</div>
</div>

<hr> Update dynamic registered address-card delete address from list
<div *ngIf="client?.registeredAddress" [hidden]="isLoading">

	<md-toolbar color="accent">
		<span>Address List</span>
		<span class="example-spacer"></span>
		<button md-raised-button class="btn btn-primary" (click)="openAddAddressDialog('A')">Add Address</button>
	</md-toolbar>

	<md-card class="user-search-card datatable-card">
		<smd-datatable [models]="addressList" [paginated]="true" [paginatorRanges]="[10, 25, 50, 100]" [responsive]="true">

			<smd-datatable-header [enableFilter]="true" filterLabel="Filter" class="row">
				<smd-datatable-contextual-button (onClick)="editAddress($event)" icon="edit" [minimunSelected]="1" [maxSelected]="1" mdTooltip="Edit the selected element"></smd-datatable-contextual-button>
				<smd-datatable-contextual-button (onClick)="removeAddress($event)" icon="delete" [minimunSelected]="1" mdTooltip="Delete the element"></smd-datatable-contextual-button>
			</smd-datatable-header>

			<smd-datatable-column title="Address Id" field="id" sortable="true" numeric="true" titleTooltip="Address identifier"></smd-datatable-column>

			<smd-datatable-column title="Address" field="address1" sortable="true" titleTooltip="Address"></smd-datatable-column>

			<smd-datatable-column title="Address 2" field="address2" sortable="true" titleTooltip="Address"></smd-datatable-column>

			<smd-datatable-column title="City" field="city" sortable="true" titleTooltip="City"></smd-datatable-column>

			<smd-datatable-column title="State" field="state" sortable="true" titleTooltip="State"></smd-datatable-column>

			<smd-datatable-column title="Zip Code" field="zipCode" sortable="true" titleTooltip="Zip Code"></smd-datatable-column>

			<smd-datatable-column title="Country" field="country" sortable="true" titleTooltip="Country"></smd-datatable-column>

		</smd-datatable>
	</md-card>


</div>
