<h3 class="text-center"><span>{{create ? "Add" : "Edit"}} User</span></h3>
<hr>
<div id="persist-user" class="content scaffold-edit" role="main">
	<ul class="errors list-group" role="alert" *ngIf="errors">
		<li *ngFor="let error of errors" class="list-group-item list-group-item-danger">{{error.message}}</li>
	</ul>


	<form name="saveUserDialog" #userCreateDialogForm="ngForm" novalidate>
		<fieldset class="form">
			<table cellspacing="0">
				<tr>
					<td class="example-form">
						<md-input-container class="example-full-width">
							<input required="" name="email" id="email" [(ngModel)]="user.email" type="text" mdInput placeholder="User Email" #userEmail="ngModel"
								pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" />
							<md-icon mdPrefix>email</md-icon>
							<md-icon mdSuffix>mode_edit</md-icon>
							<md-error *ngIf="userEmail.hasError('required')">
								This field is required
							</md-error>
							<md-error *ngIf="userEmail.hasError('pattern')">
								Please enter a valid email address
							</md-error>
						</md-input-container>
					</td>
					<!--{{ userEmail?.errors | json }}-->
				</tr>
				<tr>
					<td class="d-flex justify-content-end">
						<md-slide-toggle (change)="isMoreDetailRequired()">Add More Details</md-slide-toggle>
					</td>
				</tr>
				<tr *ngIf="!create">
					<td class="d-flex justify-content-end">
						<md-slide-toggle (change)="isMoreDetailRequired()">Make Registered Agent</md-slide-toggle>
					</td>
				</tr>
				<tr *ngIf="isFullDetails">
					<td>
						<md-input-container class="example-full-width">
							<input required="" name="firstName" id="firstName" [(ngModel)]="user.firstName" type="text" mdInput placeholder="First Name"
								pattern="[A-Za-z]{1,50}" #firstName="ngModel" />
							<md-error *ngIf="firstName.hasError('required')">This field is required</md-error>
							<md-error *ngIf="firstName.hasError('pattern')">Please enter characters only</md-error>
						</md-input-container>
					</td>
				</tr>
				<tr *ngIf="isFullDetails">
					<td>
						<md-input-container class="example-full-width">
							<input name="middleName" id="middleName" [(ngModel)]="user.middleName" type="text" mdInput placeholder="Middle Name" pattern="[A-Za-z]{1,50}"
								#middleName="ngModel" />
							<md-error *ngIf="middleName.hasError('pattern')">Please enter characters only</md-error>
						</md-input-container>
					</td>
				</tr>
				<tr *ngIf="isFullDetails">
					<td>
						<md-input-container class="example-full-width">
							<input required="" name="lastName" id="lastName" [(ngModel)]="user.lastName" type="text" mdInput placeholder="Last Name"
								pattern="[A-Za-z]{1,50}" #lastName="ngModel" />
							<md-error *ngIf="lastName.hasError('required')">This field is required</md-error>
							<md-error *ngIf="lastName.hasError('pattern')">Please enter characters only</md-error>
						</md-input-container>
					</td>
				</tr>

				<tr *ngIf="isFullDetails">
					<td>
						<md-input-container class="example-full-width">
							<input required="" maxLength="10" name="mobile" id="mobile" [(ngModel)]="user.mobile" type="text" mdInput placeholder="Mobile Number"
								pattern="[0-9]{10}" />
							<md-error>This field is required</md-error>
						</md-input-container>
					</td>
				</tr>
				<tr *ngIf="isFullDetails">
					<td>
						<md-select required="" placeholder="Select Designation Type" name="designation" id="designation" [(ngModel)]="user.designation">
							<md-option *ngFor="let type of designationTypes" [value]="type.code">
								{{type.description}}
							</md-option>
						</md-select>
					</td>
				</tr>

			</table>

		</fieldset>
		<hr>
		<fieldset class="buttons">
			<button md-raised-button class="btn btn-primary" [value]="create ? 'Save' : 'Update'" (click)="saveUser()" [disabled]="!userCreateDialogForm.valid || !userCreateDialogForm.dirty">{{create ? "Add" : "Update"}} User</button>
			<button md-raised-button class="btn btn-danger" (click)="dialogRef.close()">Close</button>
		</fieldset>
	</form>
</div>
