<h3 class="text-center"><span>{{create ? "Create" : "Edit"}} User</span></h3>
<hr>
<div id="persist-user" class="content scaffold-edit" role="main">
	<ul class="errors list-group" role="alert" *ngIf="errors">
		<li *ngFor="let error of errors" class="list-group-item list-group-item-danger">{{error.message}}</li>
	</ul>

	<form name="saveUserDialog" #userCreateDialogForm="ngForm" novalidate>
		<fieldset class="form">
			<table cellspacing="0" class="example-form">
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input required="" name="email" id="email" [(ngModel)]="user.email" type="email" mdInput placeholder="User Email" #userEmail="ngModel"
								pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" />
							<md-icon mdPrefix>email</md-icon>
							<md-icon mdSuffix>mode_edit</md-icon>
							<md-error *ngIf="userEmail.hasError('required')">
								This field is required
							</md-error>
							<md-error *ngIf="userEmail.hasError('pattern')">
								Please enter a valid email address
							</md-error>
							<md-hint align="end">
								Example : johny.bravo@gmail.com
							</md-hint>
						</md-input-container>
					</td>
					{{ userEmail?.errors | json }}
				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input required="" name="firstName" id="firstName" [(ngModel)]="user.firstName" type="text" mdInput placeholder="First Name"
							/>
							<md-error>This field is required</md-error>
						</md-input-container>
					</td>
				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input name="middleName" id="middleName" [(ngModel)]="user.middleName" type="text" mdInput placeholder="Middle Name" />
						</md-input-container>
					</td>
				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input required="" name="lastName" id="lastName" [(ngModel)]="user.lastName" type="text" mdInput placeholder="Last Name"
							/>
						</md-input-container>
					</td>
				</tr>
				<tr>
					<td>
						<md-select required="" placeholder="Select Designation Type" name="designation" id="designation" [(ngModel)]="user.designation">
							<md-option *ngFor="let type of designationTypes" [value]="type.code">
								{{type.description}}
							</md-option>
						</md-select>
					</td>
				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input required="" maxLength="10" name="mobile" id="mobile" [(ngModel)]="user.mobile" type="text" mdInput placeholder="Mobile Number"
								pattern="[0-9]{10}" />
						</md-input-container>
					</td>
				</tr>


			</table>

		</fieldset>
		<hr>
		<fieldset class="buttons">
			<button md-raised-button class="btn btn-primary" (click)="saveCompany()" [value]="create ? 'Save' : 'Update'" [disabled]="!userCreateDialogForm.valid || !userCreateDialogForm.dirty">{{create ? "Add" : "Update"}} User</button>
			<button md-raised-button class="btn btn-danger" (click)="dialogRef.close()">Close</button>
		</fieldset>
	</form>
</div>
