<h3 class="text-center"><span>{{create ? "Create" : "Edit"}} Contact</span></h3>
<hr>

<div id="persist-address" class="content scaffold-edit row" role="main">

	<ul class="errors" role="alert" *ngIf="errors">
		<li *ngFor="let error of errors">{{error.message}}</li>
	</ul>

	<form name="saveContactDialog" #contactCreateDialogForm="ngForm" novalidate>
		<fieldset class="form">
			<table cellspacing="0">
				<tr>
					<td class="example-form">
						<md-input-container class="example-full-width">
							<input required="" name="firstName" id="firstName" [(ngModel)]="user.firstName" mdInput placeholder="First Name">
						</md-input-container>
					</td>
				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input name="middleName" id="middleName" [(ngModel)]="user.middleName" mdInput placeholder="Middle Name">
						</md-input-container>
					</td>
				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input required="" name="lastName" id="lastName" [(ngModel)]="user.lastName" mdInput placeholder="Last Name">
						</md-input-container>
					</td>

				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input required="" name="email" id="email" [(ngModel)]="user.email" type="email" mdInput placeholder="Email">
						</md-input-container>

					</td>

				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input required="" name="designation" id="designation" [(ngModel)]="user.designation" mdInput placeholder="Designation">
						</md-input-container>
					</td>
				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input required="" name="mobile" id="mobile" [(ngModel)]="user.mobile" mdInput placeholder="Mobile Number">
						</md-input-container>
					</td>
				</tr>
				<tr>
					<td>
						<md-input-container class="example-full-width">
							<input required="" name="phoneNumber" id="phoneNumber" [(ngModel)]="user.phoneNumber" mdInput placeholder="Phone Number">
						</md-input-container>
					</td>
				</tr>
			</table>

		</fieldset>
		<hr>
		<fieldset class="buttons">
			<button md-raised-button class="btn btn-primary" (click)="saveContact()" [value]="create ? 'Save' : 'Update'" [disabled]="!contactCreateDialogForm.valid || !contactCreateDialogForm.dirty">Add Contact</button>
			<button md-raised-button class="btn btn-danger" (click)="dialogRef.close()">Close</button>
		</fieldset>
	</form>
</div>
