<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/location','list']" class="list">Location List</a></li>
    </ul>
</div>
<div id="persist-location" class="content scaffold-edit" role="main">
    <h1>{{create ? "Create" : "Edit"}} Location</h1>
    <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form name="save{className}" (ngSubmit)="save()">
        <fieldset class="form">
            <fieldset class="form">
  <div class="fieldcontain">
    <label for="address2">Address2</label>
    <input name="address2" id="address2" [(ngModel)]="location.address2" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="latitude">Latitude</label>
    <input name="latitude" id="latitude" [(ngModel)]="location.latitude" type="number" step="any" />
  </div>
  <div class="fieldcontain">
    <label for="longitude">Longitude</label>
    <input name="longitude" id="longitude" [(ngModel)]="location.longitude" type="number" step="any" />
  </div>
  <div class="fieldcontain">
    <label for="description">Description</label>
    <input name="description" id="description" [(ngModel)]="location.description" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="zipCode">Zip Code
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="zipCode" id="zipCode" [(ngModel)]="location.zipCode" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="country">Country
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="country" id="country" [(ngModel)]="location.country" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="updatedBy">Updated By
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="updatedBy" id="updatedBy" [(ngModel)]="location.updatedBy" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="city">City
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="city" id="city" [(ngModel)]="location.city" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="address1">Address1
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="address1" id="address1" [(ngModel)]="location.address1" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="type">Type
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="type" id="type" [(ngModel)]="location.type" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="createdBy">Created By
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="createdBy" id="createdBy" [(ngModel)]="location.createdBy" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="state">State
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="state" id="state" [(ngModel)]="location.state" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="status">Status
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="status" id="status" [(ngModel)]="location.status" type="text" />
  </div>
</fieldset>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="save" [value]="create ? 'Save' : 'Update'" />
        </fieldset>
    </form>
</div>